* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    background-color: black;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:5px;
}
.item1{
    background-color: aquamarine;
    align-self: center; /*alinha o elemento individual no eixo cross*/
}   
.item2{
    background-color: yellow;
    align-self: self-end;
}
.item3{
    background-color: violet;
}
.item4{
    background-color: tomato;
}
.item1, .item2, .item3, .item4{
    width: 200px;
    padding: 8px;
    
}